
/* Contacto*/

.formulario-contacto{
    background-color: $color-secundario;
    width: 500px;
    margin: 20px auto 20px auto;
    padding: 10px;
    border-radius: 5px;
    
}
   
.form-contactos-grupo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.form-contactos-grupo-label{
    color: $color-contraste;
}
.form-contactos-grupo-input{
    width: 100%;
    background-color: transparent;
    color: $color-contraste;
    border: 1px solid $color-contraste;
    padding: 5px 10px;
    border-radius: 5px;
}
.form-contactos-grupo-input::placeholder{
    color: $color-contraste;
}

.botonformulario{ 
    width: 100%;
    background-color: $color-contraste;
    color: $color-secundario;
    border: 0;
    font-weight: bold;
    padding: 10px 5px;
    border-radius: 5px;
    text-align: center;
}

.info p{
    font-size: 30px;
    color: $color-secundario;
    display: flex;
    text-decoration: underline;
    justify-content: center;
    text-align: center;
}

.info a{
    font-size: 20px;
    display: flex;
    text-decoration: none;
    width: 100%;
    margin: 15px 0 15px 5px ;
    color: $color-secundario;
    font-weight: 500px;
    justify-content: center;
}
.mapa{
    margin: auto 20px auto 20px;
}