
/*Footer*/
.piedepagina {
    padding: 20px;
    color: $color-contraste;
    background-color:black;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.info{
    padding: 20px;
    text-align: center;
    font-size: small;
}
.redes-footer{
    padding: 20px;
    color:$color-secundario;
    font-size:x-large;
}
.copy {
   font-size: x-small;
}