/* Navegador*/
.navegador {
    background-color: $color-contraste;
    width: 100%;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
.ícono-menu {
    color: black;
    font-size: 25px;
    display: none;
    @media (max-width: 576px){
        display: block;
    }
        
    }
}

.logo {
    width: 10%;
    height: 10%;
    position: relative;
    display: block;
}
.navegador-links { 
   display: flex;
   gap: 20px;
   padding: 40px 10px;
   text-align: right;
   font-weight: bold
}

.navegador-link{
    list-style: none;

    a{
        color: black;
        display: block;
        text-decoration: none;
    }
}