/* Nosotros*/
.paragraph-one {
    font-size:large;
    color: $color-primario;
    text-align:center;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding: 20px;
}

.imagenoptica{
    width: 80%;
    object-fit: cover;
    margin: 50px 120px;
}
.nuestras-marcas{
    font-size:40px;
    color: $color-contraste;
    text-align: center;
    background-color: $color-primario; 
}

.slider-frame{
    width: 100%;
    height: auto;
    overflow: hidden;
    
}

.slider-frame ul{
    display: flex;
    padding: 0;
    width: calc(200px * 16);
    animation: slide 20s infinite linear;
    -webkit-animation: slide 20s infinite linear;
}

.slider-frame li{
    list-style: none;
    width: 200%;
}

@keyframes slide {
   0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
   }
   100%{
    -webkit-transform:translateX(calc(-200px * 8)) ;
    transform: translate(calc(-200px * 8));
   }
}