@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.botonver {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  padding: 8px;
}

/* Navegador*/
.navegador {
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navegador .ícono-menu {
  color: black;
  font-size: 25px;
  display: none;
}
@media (max-width: 576px) {
  .navegador .ícono-menu {
    display: block;
  }
}

.logo {
  width: 10%;
  height: 10%;
  position: relative;
  display: block;
}

.navegador-links {
  display: flex;
  gap: 20px;
  padding: 40px 10px;
  text-align: right;
  font-weight: bold;
}

.navegador-link {
  list-style: none;
}
.navegador-link a {
  color: black;
  display: block;
  text-decoration: none;
}

/*Inicio*/
.portada-imagen {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenedor-pagos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cuotas {
  width: 200px;
  height: 200px;
  font-size: x-small;
  background-color: white;
  border: 5px solid #8C0303;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.cuotas título {
  width: 100%;
  justify-content: center;
}
.cuotas descripción {
  font-size: small;
  width: 100%;
  justify-content: center;
}
.cuotas img {
  width: 35%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.efectivo {
  width: 200px;
  height: 200px;
  font-size: x-small;
  background-color: white;
  border: 5px solid #8C0303;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.efectivo título {
  width: 100%;
  justify-content: center;
}
.efectivo descripción {
  font-size: small;
  width: 100%;
  justify-content: center;
}
.efectivo img {
  width: 35%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.envíos {
  width: 200px;
  height: 200px;
  font-size: x-small;
  background-color: white;
  border: 5px solid #8C0303;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.envíos img {
  width: 35%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
}
.tarjetas título {
  color: white;
  font-size: small;
  text-align: center;
  text-decoration: underline;
}

.sol {
  width: 300px;
  font-size: small;
  background-color: #730D0D;
  margin: 10px;
  padding: 25px;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  color: white;
  text-align: center;
}
.sol img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rx {
  width: 300px;
  font-size: small;
  background-color: #730D0D;
  margin: 10px;
  padding: 25px;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  color: white;
  text-align: center;
}
.rx img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lc {
  width: 300px;
  font-size: small;
  background-color: #730D0D;
  margin: 10px;
  padding: 25px;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  color: white;
  text-align: center;
}
.lc img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.botonver {
  background-color: white;
  color: #730D0D;
  border: 0px;
  transform: translateX(65px);
  transition: 0, 5s;
}
.botonver:hover {
  background: whitesmoke;
  height: 50px;
}

/* Nosotros*/
.paragraph-one {
  font-size: large;
  color: #8C0303;
  text-align: center;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 20px;
}

.imagenoptica {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 50px 120px;
}

.nuestras-marcas {
  font-size: 40px;
  color: white;
  text-align: center;
  background-color: #8C0303;
}

.marcas {
  width: 80%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Contacto*/
.formulario-contacto {
  background-color: #730D0D;
  width: 550px;
  margin: 50px auto 50px auto;
  padding: 10px;
  border-radius: 5px;
}

.form-contactos-grupo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.form-contactos-grupo-label {
  color: white;
}

.form-contactos-grupo-input {
  width: 100%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
}

.form-contactos-grupo-input::-moz-placeholder {
  color: white;
}

.form-contactos-grupo-input::placeholder {
  color: white;
}

.botonformulario {
  width: 100%;
  background-color: white;
  color: #730D0D;
  border: 0;
  font-weight: bold;
  padding: 10px 5px;
  border-radius: 5px;
}

/*Footer*/
.piedepagina {
  padding: 10px;
  font-size: medium;
  color: white;
  background-color: black;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

/*Media Query*//*# sourceMappingURL=style.css.map */